<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>527602492215-4s3ho436egral12kapf1n197v0rqvhfv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.527602492215-4s3ho436egral12kapf1n197v0rqvhfv</string>
	<key>API_KEY</key>
	<string>AIzaSyCfXVPI6YpvgvQ14y4hegjHvTASRwWse9U</string>
	<key>GCM_SENDER_ID</key>
	<string>527602492215</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chattyPatty</string>
	<key>PROJECT_ID</key>
	<string>chatty-patty-8083e</string>
	<key>STORAGE_BUCKET</key>
	<string>chatty-patty-8083e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:527602492215:ios:4f885292a5428125f8f0b2</string>
</dict>
</plist>